<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Connection Settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:./target/h2</property>
        <property name="hibernate.connection.username">quizme</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Use c3p0 Connection Pool -->
        <property name="hibernate.c3p0.unreturnedConnectionTimeout">30</property>
        <property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>

        <property name="show_sql">true</property>

        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>

        <!-- Mapping -->
        <mapping class="de.himbiss.quizme.model.Question" />
        <mapping class="de.himbiss.quizme.model.Quiz" />
        <mapping class="de.himbiss.quizme.model.Answer" />

        <!-- <mapping resource="com/mkyong/user/DBUser.hbm.xml"></mapping> -->
    </session-factory>
</hibernate-configuration>